{% extends 'basefinale/main.html' %}
{% block content %}

<style>
  .middle {
    text-align: center;
  }
</style>

<div class="header-bar">
    <div>
        <h1>Content of {{file}}</h1>
    </div>
    <h3><a href="{% url 'files' %}">Back to home</a></h3>
</div>

<p>.</p><p>.</p><p>.</p>
<pre>

    
</pre>

<!--
<h3 class="middle">
{% for item in data %}
  {% if request.user.username in item or None in item %}
  <p>
  {% for text in item %}
    {{text}}
  {% endfor %}
  </p>
  {% endif %}
{% endfor %}
</h3>-->

<h3 class="middle">
  
  <table class="middle">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for item in data %}
    {% if request.user.username in item%}
    <tr>
      
      {% for text in item %}
      {% if text is not none %}
      <td></td><td></td><td></td><td></td><td>{{text}}</td><td></td><td></td><td></td><td></td>
      {% else %}
      <td></td><td></td><td></td><td></td><td>_/_</td><td></td><td></td><td></td><td></td>
      {% endif %}
      {% empty %}
      <h3>No item about you in this file</h3>
      {% endfor %}
        
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</h3>


<div id="data"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $.getJSON('/fichier/{{ file.pk }}/', function(data) {
        var html = '';
        for (var i = 0; i < data.length; i++) {
          html += '<p>' + data[i] + '</p>';
        }
        $('#data').html(html);
      });
    });
  </script>

{% endblock content %}