{% extends 'basefinale/main.html' %}
{% block content %}

<style>
   .middle {
     text-align: center;
   }
</style>

<div class="header-bar">
   <div>
       <h1>Hello {{request.user|title}}</h1>
   </div>

   {% if request.user.is_authenticated %}
   <!--p><h3>{{request.user}}</h3></p-->
   <h3><a href="{% url 'logout' %}">Logout</a></h3>
   {% else %}
   <a href="{% url 'login' %}">Login</a>
   {% endif %}

</div>

<p>.</p><p>.</p><p>.</p>
<pre>

</pre>

<form class="middle" method="GET">
   <input type="text" name="search-area" value="{{search_input}}">
   <input type="submit" value="&#128269;">
</form>   

<h4>
   <a href="{% url 'file_add' %}">Add a file</a>
   <p><a href="{% url 'new-employe' %}">Link yourself to a company</a></p>
   <p><a href="{% url 'company_add' %}">Create a new company</a></p>
</h4>


<!--hr-->
<h2>All Uploaded Files</h2>
   
   <h4>Those are:</h4>
   
   {% for file in files %}
      <h2 class="middle">
         <hr>
         {% if file.favourite %}
         <i class="star">&#9733;</i> {{file.company}}: <b>{{file.title}}</b>
         {% else %}
         {{file.company}}: <b>{{file.title}}</b>
         {% endif %}
         
         <a class="a_view" href='{% url 'fichier' file.id %}'><b>&#x1F441;</b></a>
         {% if request.user.id == file.user.id %}
            <a class="a_green" href='{% url 'file_update' file.id %}'><b>&#9881;</b></a>
            <a class="a_red" href='{% url 'file_delete' file.id %}'><b>&#128465;</b></a>            
         {% endif %}
      </h2>
   {% empty %}
        <h4><i>No file actually</i></h4>
   {% endfor %}


{% endblock content %}


