{% extends 'main.html' %}
{% block content %}

<style>
    .middle {
      text-align: center;
    }
</style>

<p><h1 class="middle">REPUBIQUE DU CAMEROUN</h1></p>
<h5 class="middle">Paix-Travail-Patrie</h5>

<h3>
    <p class="middle">Journal Officiel de la République du Cameroun</p>
    <p><h4 class="middle">Portant {{texte.0.nom}}</h4></p>
    <p class="middle">Loi N° <u><i>{{texte.0.numero_de_loi}}</i></u> du <u><i>{{texte.0.adoption}}</i></u></p>
</h3>

<h3>{{texte.0.preambule}}</h3>
{% for livre in livres %}
    {% if livre.text == texte.0.id %}
        <p><h3>{{livre.libelle}}</h3></p>
        {% for titre in titres %}
            {% if titre.livre == livre.id %}
                <p><h3>{{titre.libelle}}</h3></p>
                {% for chapitre in chapters %}
                    {% if chapitre.titre == titre.id %}
                        <!--p><h3>{{chapitre.libelle}}</h3></p-->
                        {% for section in sections %}
                            {% if section.chapitre == chapitre.id %}
                                <!--p><h3>{{section.libelle}}</h3></p-->
                                {% for article in articles %}
                                    {% if article.section == section.id %}
                                        <p><h3><blockquote>{{article.libelle}}</blockquote></h3></p>
                                        {% for alinea in alineas %}
                                            {% if alinea.article == article.id %}
                                                <p><h4><pre>({{alinea.numero}}) {{alinea.libelle}}</pre></h4></p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}


{% endblock content %}


